<a href="https://colab.research.google.com/github/jin1206t/jinsland/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from google.colab import files

In [3]:
uploaded = files.upload()

Saving hawaii.csv to hawaii.csv

In [0]:
#1 load data
df = pd.read_csv('hawaii.csv')

In [6]:
#2 row and column
print(df.shape)

(10000, 12)

In [9]:
# 3 5000th row
print(df.iloc[4999])

Hawaii                 1
Age                   38
Region            Kansai
Gender            Female
Bookings_2017          1
Bookings_2018          1
Bookings_2019          3
Bookings_Jpn           2
Bookings_Asia          1
Bookings_NAm           0
Bookings_Eur           1
Bookings_Other         1
Name: 4999, dtype: object

In [21]:
#4 one hot encoding for region
Region_Onehot = pd.get_dummies(df['Region'], prefix='Region')
print(Region_Onehot)

      Region_Chubu  Region_Chugoku  ...  Region_Shikoku  Region_Tohoku
0                0               1  ...               0              0
1                0               0  ...               0              0
2                1               0  ...               0              0
3                0               0  ...               0              0
4                0               0  ...               0              0
...            ...             ...  ...             ...            ...
9995             0               0  ...               0              0
9996             0               0  ...               0              1
9997             0               0  ...               0              0
9998             0               0  ...               0              0
9999             1               0  ...               0              0

[10000 rows x 8 columns]

In [20]:
#5 Cross Tabulation for Gender vs. Hawaii
pd.crosstab(index=df['Gender'], columns=df['Hawaii'])

Hawaii     0     1
Gender
Female  1779  3021
Male    3998  1202

In [0]:
#6 histogram for age of only people traveled to Hawaii 
hawaii_true = df[df['Hawaii'] == 1]
df.hist(df['Age'])